@model IEnumerable<IGrouping<string, SearchResultViewModel>>

@{
	ViewBag.Title = "Search Results";
}

<p>
	@(Html.ActionLink<HomeController>(x => x.Index(), "Search again"))
</p>

<p>
	Files containing search text '@ViewBag.SearchText':
</p>

<ul>
	@foreach (var resultGroup in Model)
	{
		<li>
			<b>@resultGroup.Key</b> repository
			<ul>
				@foreach (var file in resultGroup)
				{
					<li>@file.Filename</li>
				}
			</ul>
		</li>
	}
</ul>