@model IEnumerable<IGrouping<string, SearchResultViewModel>>

@{
	ViewBag.Title = "Search Results";
}

@Html.Partial("SearchPartial", new SearchViewModel())

<p>
	Files containing '@ViewBag.SearchText':
</p>

<ul>
	@foreach (var resultGroup in Model)
	{
		<li>
			<b>@resultGroup.Key</b> repository
			<ul>
				@foreach (var file in resultGroup)
				{
					<li>@file.Filename</li>
				}
			</ul>
		</li>
	}
</ul>