@model SettingsViewModel

@{
	ViewBag.Title = "Settings";
}

@using(Html.BeginForm<HomeController>(x => x.Settings(null)))
{
	<fieldset>
		<legend>Settings</legend>
		Solr URL: @Html.TextBoxFor(x => x.SolrUrl)
		<br />
		Git path: @Html.TextBoxFor(x => x.GitPath)
	</fieldset>

	@Html.SubmitButton("Save")
	<span>&nbsp;&nbsp;&nbsp;</span>
	@(Html.ActionLink<HomeController>(x => x.Index(), "Cancel"))
}